<form action="/quotes" method = "post">
  <p>
   <label for="c">Content</label>
   <textarea id="c" name="content"></textarea>
  </p>
  <p>
   <label for="c">Author</label>
   <input type="text" id="a" name="author"/>
  </p>

   <input type="submit" value="Create" />
</form>
