<form action = "/quotes" method = "post">
        <p> <label for = "a"> Author:</label>
            <input type = "text" name = "author" id="a"/> 
        </p>
        <p> Quote:<br/>
            <textarea name="content" cols="50" rows="5"></textarea></p>
        <p>
           <input type = "submit" value="crear"/>
        </p>
</form>

