<blockquote>
        <p> <%= quote.content %> </p>
        <footer>
                <cite> <%= quote.author %></cite>
        </footer>
</blockquote>
<a href="http://localhost:3000/quotes"> Regresar quote></a>
